################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/crud-dotnet-api/.vs/crud-dotnet-api/FileContentIndex
