.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Full width within the modal */
  }
  
  label {
    font-weight: bold;
    margin-bottom: 3px;
    color: #333;
    font-size: 14px; /* Decreased label font size */
  }
  
  input[type="email"],
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px; /* Reduced font size */
    color: #333;
    transition: border-color 0.3s ease-in-out;
  }
  
  input[type="email"]:focus,
  input[type="text"]:focus,
  textarea:focus {
    outline: none;
    border-color: #4CAF50; /* Green color on focus */
  }
  
  textarea {
    resize: none; /* Prevents the textarea from being resized */
  }
  
  button[type="submit"] {
    background-color: #4CAF50; /* Green button */
    color: white;
    padding: 8px; /* Reduced padding */
    font-size: 14px; /* Reduced font size */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  h2 {
    font-size: 20px; /* Reduced header size */
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Modal specific styling */
  .mat-dialog-container {
    padding: 15px; /* Reduced padding */
    border-radius: 8px;
    max-width: 350px; /* Decreased max width */
  }
  
  @media (max-width: 600px) {
    .mat-dialog-container {
      width: 100%;
      max-width: 90%;
      padding: 10px; /* Reduced padding on small screens */
    }
  
    h2 {
      font-size: 18px;
    }
  
    button[type="submit"] {
      font-size: 12px;
      padding: 6px;
    }
  }
  
  